<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header.html :: head}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>코드 글쓰기</title>
</head>
<body>
<section>


<div th:insert="~{fragments/navbar :: navbar}" id="codeForm"></div>
<div class="text-dark">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-10 col-xl-8">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex flex-start w-100">
                        <div class="w-100">
                            <div class="form-outline">
                                <form id="writeForm" autocomplete="off" th:method="post" th:action="|@{/boards/tasks/{taskId} (taskId=${taskId})}|" th:object="${boardCreateRequest}">
                                    <div>
                                        <h1>Task 선택</h1>
                                        <select id="selTaskId" onchange="setTaskId(this.value)">
                                            <option th:each="task :${taskList}" th:value="${task.taskEntity.getId()}" th:text="${task.taskEntity.getTitle()}"></option>
                                        </select>
                                        <hr class="hr">
                                    </div>
                                    <div>
                                        <!--        th:value="${userName}"-->
                                        <input id="userName" type="hidden" name="userName" th:value="${userName}" />
<!--                                        <input type="hidden" name="taskId" id="taskId" th:value="${taskId}" />-->
                                        <input class="mt-8" type="text" style="width: 60vw;" maxlength='30' th:field="*{title}" id="title" placeholder="제목을 입력하세요"/>
                                        <br/>
                                        <input type="hidden" id="writer" name="writer" maxlength='10' th:value="${userName}"/>
                                        <br/>
                                        <div id="content_div">
                                            <textarea name="codeContent" id="codeContent" th:field="*{codeContent}" hidden></textarea>
                                            <textarea class="form-control" style="height:250px;width:50vw;border: 0.5px solid;" maxlength='1000' id="content" th:field="*{content}" name="content"></textarea>
                                            <div id="editor_toolbar" style="margin: 10px;">
                                                <input type="hidden" id="language" name="language" th:field="*{language}">
<!--                                                <select class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                                                </select>-->
                                            </div>
                                            <div id="editor" style="width:50vw; height: 250px; overflow-y: scroll;"></div>
                                        </div>
                                        <br/>
                                        <input type="submit" id="submitBtn"  class="btn btn-outline-primary mr-2" value="작성">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!--  <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.12/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.0/ace.js" integrity="sha512-vgArOyW+sdp69qm3025hO1uoxhMZ7rzc2NZbaC/0eUD92rYIx4YSI/NdQ1+oINXb8tXoFQJyQqpfV9KxoPGuCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--<script src="http://ajaxorg.github.io/ace-builds/src/ace.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.2/ext-language_tools.min.js" integrity="sha512-jwHjfXzlZZWm/JrYIjGauBO9fNDoxtrl5uVEh8SVu5nZGO38FCFiHx7N5NfLQWsi+cjT4vQcZl9UNLc3oCm+TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>

<script>
    //ace editor 기본 세팅
    let editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/javascript");
    let postContent = $("#codeContent").val()
    document.getElementById('editor').style.fontSize='20px';
    ace.config.loadModule('ace/ext/language_tools', function() {
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        })
    });

    let modes = ["javascript", "html", "css", "python",  "java"];
    let modeDropdown = document.createElement("select");
    let lang = $("#language").val()
    lang = "javascript"
    modeDropdown.style.width = "30vw";
    for (let i = 0; i < modes.length; i++) {
        let option = document.createElement("option");
        option.text = modes[i];
        modeDropdown.add(option);
    }
    modeDropdown.addEventListener("change", function() {
        let mode = this.value;
        lang = mode;
        editor.session.setMode("ace/mode/" + mode);
    });

    // 툴바에 버튼 추가
    let toolbar = document.getElementById("editor_toolbar");
    toolbar.appendChild(modeDropdown);



    // editor value를 codeContent로 넣어주는 과정
    $("#editor").on("propertychange change keyup paste input ", function() {
        postContent = editor.getValue();
        console.log(postContent)
    })
    document.getElementById("writeForm").onsubmit = function(evt){
        document.getElementById("codeContent").value = editor.getValue();
        document.getElementById("language").value = lang
    }
    function setTaskId(taskId) {
        document.querySelector('#writeForm').action = `/boards/tasks/${taskId}`;
        // console.log(document.querySelector('#writeForm').action)
    }

</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    let data = /*[[${taskId}]]*/
    console.log(data)
    if(data === 0){
        // taskId 기본값 설정
        let task = document.getElementById("selTaskId").value;
        document.querySelector('#writeForm').action = `/boards/tasks/${task}`;
        // console.log(document.querySelector('#writeForm').action)
        // taskId 동적 변경
        }else{
        document.getElementById("selTaskId").value = data
        document.querySelector('#writeForm').action = `/boards/tasks/${data}`;
    }

    /*]]>*/
</script>

</body>
</html>