<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>상세페이지</title>
</head>
<body>
<script type="text/javascript">
    function toggleBtn(){
        const btn1 = document.getElementById("update-form")
        if(btn1.style.display === 'none'){
            btn1.style.display = 'block';
        }else{
            btn1.style.display = 'none';
        }
    }


    // $(document).ready(function (){
    //     $("#update-btn").click(function(){
    //         const status = $("#update-form").css("display")
    //         if(status === "none") {
    //             console.log("tlqkfdk")
    //             $("update-form").css("display", "");
    //         }else{
    //             console.log("rotorRI")
    //             $("update-form").css("display", "none");
    //         }
    //     })
    // })
    /*<![CDATA[*//*]]>*/
</script>
<div th:replace="fragments/header :: header"></div>
<!--  해당 글에 대한 모든 데이터를 보여주고, 수정 버튼 누르면 수정하는 곳으로 이동-->
<section>
    <div class="text-dark">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex flex-start w-100">
                            <div class="w-100">
                                <div class="form-outline">
                                    <!--                                        <input type="hidden" name="_method" value="put"/>-->
                                    <!--                                        <input type="hidden" name="id" th:value="${boardList.id}"/>-->
                                    <!--                                        <input type="text" name="title" th:value="${boardList.title}"/> <br>-->
                                    <!--                                        <input type="text" name="writer" th:value="${boardList.writer}"/> <br>-->
                                    <h5 style="float: left; margin-right: 5px">제목 :</h5>
                                    <h5 th:text="${boardList.title}"></h5>
                                    <h5 style="float: left; margin-right: 5px">작성자 :</h5>
                                    <p th:text="${boardList.writer}"></p>
                                    <h5 style="float: left; margin-right: 5px">작성 시간 :</h5>
                                    <p th:text="${#temporals.format(boardList.createdDate, 'yyyy-MM-dd HH:mm')}"></p>
                                    <div style="display: block">
                                        <h5>작성 내용</h5>
                                        <p th:text="${boardList.content}"></p>
                                    </div>
                                    <div style="display: block">
                                        <a th:href="@{'/boards/edit/' + ${boardList.id}}">
                                            <button class="btn btn-danger" style="float:right;margin-right: 5px;">수정</button>
                                        </a>
                                    </div>
                                </div>
                                <!--                                <div class="d-flex justify-content-between mt-3">-->
                                <!--                                    <button type="button" class="btn btn-success">Danger</button>-->
                                <!--                                    <button type="button" class="btn btn-danger">-->
                                <!--                                        Send <i class="fas fa-long-arrow-alt-right ms-1"></i>-->
                                <!--                                    </button>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row d-flex justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
            <div class="card-body p-4">
<!--                <div class="form-outline mb-4">-->
<!--                    <input type="text" id="addANote" class="form-control" placeholder="Type comment..." />-->
<!--                    <label class="form-label" for="addANote">+ Add a note</label>-->
<!--                </div>-->
                <div class="card mb-4" th:each="comment : ${commentList}">

                    <div class="card-body" >
                        <p th:text="${comment.content}"></p>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
<!--                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"-->
<!--                                     height="25" />-->
                                <p th:text="${comment.id}"></p>
                                <p class="small mb-0 ms-2" th:text="${comment.writer}"></p>
                            </div>
                            <div class="btn-group d-flex flex-row align-items-center">
                                <button id="update-btn" class="btn btn-secondary" onclick="toggleBtn()">수정</button>
                                <form id="delete-form" th:action="@{'/boards/writeDetail/' + ${comment.id}+ '/' +${comment.boardId}}" method="post">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <button id="delete-btn" class="btn btn-secondary">삭제</button>
                                </form>
                                <br/>
                                <form id="update-form" th:action="@{'/boards/writeDetail/'+ ${comment.id}+ '/'2 +${comment.boardId}}" autocomplete="off" method="post" style="display: none">
                                    <input type="hidden" name="_method" value="put"/>
                                    <input type="hidden" th:id="id" name="id" th:value="${comment.id}"/>
                                    <input type="hidden" th:value="${comment.writer}" th:id="writer" name="writer"  maxlength='10' placeholder="작성자">
                                    <!--                                    <form th:action="@{'/boards/writeDetail/' + ${boardList.id}}" autocomplete="off" method="post">-->
                                    <div>
                                    </div>
                                    <div class="form-outline">
                                        <textarea class="form-control" th:text="${comment.content}" th:id="content" name="content" rows="1"></textarea>
                                        <input type="submit" id="submiBtn2"  class="btn btn-outline-primary mr-2" value="작성">
                                    </div>
                                    <!--                                    </form>-->

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <p>Type your note, and hit enter to add it</p>

                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="25"
                                     height="25" />
                                <p class="small mb-0 ms-2">Johny</p>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <p class="small text-muted mb-0">Upvote?</p>
                                <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                                <p class="small text-muted mb-0">4</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <p>Type your note, and hit enter to add it</p>

                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp" alt="avatar" width="25"
                                     height="25" />
                                <p class="small mb-0 ms-2">Mary Kate</p>
                            </div>
                            <div class="d-flex flex-row align-items-center text-primary">
                                <p class="small mb-0">Upvoted</p>
                                <i class="fas fa-thumbs-up mx-2 fa-xs" style="margin-top: -0.16rem;"></i>
                                <p class="small mb-0">2</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <p>Type your note, and hit enter to add it</p>

                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="25"
                                     height="25" />
                                <p class="small mb-0 ms-2">Johny</p>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <p class="small text-muted mb-0">Upvote?</p>
                                <i class="far fa-thumbs-up ms-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="my-5 py-5 text-dark">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex flex-start w-100">
                            <div class="w-100">
                                <h5>Add a comment</h5>

                                <form th:action="@{'/boards/writeDetail/' + ${boardList.id}}" autocomplete="off" method="post">
                                    <div>
                                        <input type="text" th:id="writer" name="writer"  maxlength='10' value="" placeholder="작성자">
                                        최대 10자
                                        <br/>
                                    </div>
                                    <div class="form-outline">
                                        <textarea class="form-control" th:id="content" name="content" rows="4"></textarea>
                                        <label class="form-label" th:for="content">What is your view?</label>
                                        <br>
                                        <input type="submit" id="submiBtn"  class="btn btn-outline-primary mr-2" value="작성">
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>