<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>
<body>
    <div th:replace="fragments/header.html :: header"/>
    <div class="row">
        <form class="offset-3 col-6 form-group" th:method="post" th:action="@{/tasks/write}" th:object="${taskCreateRequest}">
            <br/><br/>
            <div>
                <label>태스크 명</label>
                <input class ="blank" type="text" th:field="*{title}" placeholder="태스크명을 입력해 주세요"/>
                <label>WEEK(주차)</label>
                <input class ="blank"  type="text" th:field="*{week}" name="week">
                <label>DAY(일차)</label>
                <input class ="blank"  type="text" th:field="*{day}" name="day"><br>
            </div>
            <br/>
            <div>
                <textarea rows="10" style="width: 100%;" th:field="*{description}" placeholder="설명을 입력해 주세요"/>
            </div>
            <div align="right">
                <button class="btn body-btn" type="submit">등록</button>
                <button class="btn body-btn" onclick="history.back()">취소</button>
            </div>
        </form>
    </div>
</body>
</html>