<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header.html :: head}">

</head>
<body>

    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <form th:method="post" th:action="@{/courses/students}" th:object="${filterInfo}">
        <label class = "btn" th:text="${courseName}" />
        <select th:field="*{week}" id="week" style="width:40px;height:40px;margin-top:10px">
            <option th:value="${week}" th:text="${week}"/>
            <option th:each="week : ${#numbers.sequence(1,53)}" th:value="${week}" th:text="${week}"/>
        </select>
        <label class = "btn">주차</label>
        <select th:field="*{day}" id="day" style="width:40px;height:40px;margin-top:10px">
            <option th:value="${day}" th:text="${day}"/>
            <option th:each="day : ${#numbers.sequence(1,7)}" th:value="${day}" th:text="${day}"/>
        </select>
        <label class = "btn">일차</label>
        <button class="btn nav-btn" type="submit">조회</button>
    </form>
    <hr/>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th></th>
        <div th:each="taskList : ${taskList}">
            <th><a href="/tasks/write.html" th:href="@{/tasks/{taskId}(taskId=${taskList.id})}" th:text="${taskList.title}"/></th>
        </div>
    </tr>
    </thead>
    <tr th:each="studentTask, stat : ${studentTaskList}">
        <td th:text="${studentTask.realName}"></td>
            <td th:each="status : ${studentTask.status}">
                <button type="button" name ="test" id="test" th:text="${status.taskStatus}"  th:attr="data-task_name=${status.taskName},data-task_stat=${status.taskStatus}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    상태 등록
                </button>
            </td>
    </tr>
</table>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">태스크 상태 등록</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label class="col-form-label" id="taskId2">태스크 명:</label>
                            <h6 id="modal_body"></h6>
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">태스크 상태:</label>
                            <div class="form-check">
                                <input value="CREATED" class="form-check-input" type="radio" name="flexRadioDefault" id="create">
                                <label class="form-check-label" for="create">
                                    생성
                                </label>
                            </div>
                            <div class="form-check">
                                <input value="IN_PROGRESS" class="form-check-input" type="radio" name="flexRadioDefault" id="progress">
                                <label class="form-check-label" for="progress">
                                    진행중
                                </label>
                            </div>
                            <div class="form-check">
                                <input value="DONE" class="form-check-input" type="radio" name="flexRadioDefault" id="done">
                                <label class="form-check-label" for="done">
                                    완료
                                </label>
                            </div>
                            <div class="form-check">
                                <input value="ERROR" class="form-check-input" type="radio" name="flexRadioDefault" id="error">
                                <label class="form-check-label" for="error">
                                    에러
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary">등록</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
        // $('#exampleModal').on('hidden.bs.modal', function (e) {
        //     console.log('modal close');
        //     $("#modal_body").text("");
        //     $(this).find('form')[0].reset()
        // });
        // var name ="";
        // var stat = "";
        // // $(document).ready(function() {
        //     $('#exampleModal').on('show.bs.modal', function (event) {
        //          name = $("#test").data('task_name'); // Extract info from data-* attributes
        //          stat = $("#test").data('task_stat');
        //         console.log(name+"test");
        //         if(stat=="DONE"){
        //             $("#done").attr("checked", true);
        //         }
        //         else if(stat=="CREATED"){
        //             $("#created").attr("checked", true);
        //         }
        //         else if(stat=="ERROR"){
        //             $("#error").attr("checked", true);
        //         }
        //         else if(stat=="IN_PROGRESS"){
        //             $("#progress").attr("checked", true);
        //         }
        //         var modal = $(this);
        //
        //
        //         $("#modal_body").text(name);
        //     });
       // });

    </script>
</body>



</html>

