<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header.html :: head}"/>
<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <form th:method="post" th:action="@{/courses/students}" th:object="${filterInfo}">
        <label class = "btn" th:text="${courseName}" />
        <select th:field="*{week}" id="week" style="width:40px;height:40px;margin-top:10px">
            <option th:value="${week}" th:text="${week}"/>
            <option th:each="week : ${#numbers.sequence(1,53)}" th:value="${week}" th:text="${week}"/>
        </select>
        <label class = "btn">주차</label>
        <select th:field="*{day}" id="day" style="width:40px;height:40px;margin-top:10px">
            <option th:value="${day}" th:text="${day}"/>
            <option th:each="day : ${#numbers.sequence(1,7)}" th:value="${day}" th:text="${day}"/>
        </select>
        <label class = "btn">일차</label>
        <button class="btn nav-btn" type="submit">조회</button>
    </form>
    <hr/>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th></th>
        <div th:each="taskName : ${taskList}">
            <th th:text="${taskName}"></th>
        </div>
    </tr>
    </thead>
    <tr th:each="studentTask, stat : ${studentTaskList}">
        <td th:text="${studentTask.realName}"></td>
            <td th:each="status : ${studentTask.status}">
                <label th:text="${status.taskId}"/>
                <button type="button" th:text="${status.taskStatus}" th:attr="data-modal_taskid=${status.taskId},data-modal_user_id=${studentTask.id}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    상태 등록
                </button>
            </td>
    </tr>
</table>
</body>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">태스크 상태 등록</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="col-form-label">태스크 명:</label>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">태스크 상태:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                진행중
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                완료
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                에러
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary">등록</button>
            </div>
        </div>
    </div>
</div>
</html>

