<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: head}">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Task code</title>
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div>
  <!--어떤 task에 대한 질문인지-->
  <h3 th:text="${taskTitle}"></h3>
</div>
<div class="container table-responsive">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">번호</th>
      <th scope="col">글제목</th>
      <th scope="col">작성자</th>
      <th scope="col">작성일</th>
      <th scope="col">*</th>
    </tr>
    </thead>
    <tbody>
    <!-- CONTENTS   !-->
    <tr th:each="code : ${codeList}">
      <th scope="row" th:text="${code.id}"></th>
      <td th:text="${code.title}"></td>
      <!--                    <a th:href="@{'/board/write/' + ${board.id}}"></a>-->
      <td th:text="${code.writer}"></td>
      <td th:text="${#temporals.format(code.createdDate, 'yyyy-MM-dd HH:mm')}">
      </td>
      <td>
        <form id="delete-form" th:action="@{'/boards/codeView/' + ${code.id}}" method="post">
          <input type="hidden" name="_method" value="delete"/>
          <button id="delete-btn" class="btn body-btn">삭제</button>
        </form>
        <a th:href="@{'/boards/codeDetail/' + ${code.id}}">
          <button class="btn body-btn">상세보기</button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<a th:href="@{/boards/codeWrite}">코드 쓰러 가기</a>
</body>
</html>