<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Find Pw</title>
</head>
<body>
  <div th:insert="~{fragments/navbar :: navbar}"></div>
  <p>userName을 입력해서 찾고, 이걸 바탕으로 비밀번호를 변경하는 식</p>
  <form th:action="@{'/users/findPw'}" method="post" th:object="${userFindPwRequest}">
    <input type="hidden" name="_method" value="put"/>
    ID : <input type="password" th:field="*{userName}" name="rawPassword" id="curPassword"/>
    <br>
    변경된 비밀번호 : <input type="password"  name="chPassword1" id="chPassword1"/> <br>
    비밀번호 확인 : <input type="password" th:field="*{chPassword}" name="chPassword" id="chPassword"/> <br>
    <p id="nSame" style="color: red" hidden>비밀번호가 일치하지 않습니다.</p>
    <p id="same" style="color: green" hidden>비밀번호가 일치합니다.</p>
    <input id="submit_btn" type="submit" value="수정" disabled/>
  </form>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $("#chPassword").on("propertychange change keyup paste input ", function() {
        let Pw1 = $("#chPassword1").val()
        let Pw = $("#chPassword").val()
        if(Pw === Pw1){
          show("same")
          hide("nSame")
          document.getElementById("submit_btn").removeAttribute("disabled")
        }else{
          show("nSame")
          hide("same")
        }
        function show(id) {
          if(document.getElementById(id) != null) {
            document.getElementById(id).removeAttribute("hidden")
          }
        }
        function hide(id) {
          if(document.getElementById(id) != null) {
            document.getElementById(id).setAttribute("hidden", "true")
          }
        }
      })
    })
  </script>
</body>
</html>