<!doctype html>
<html lang="en">
<head th:replace="~{fragments/header.html :: head}">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/">
    <link rel="stylesheet" href="../../static/css/custom.css">
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4 th:text="${user.getRealName()}"></h4>
                                <p class="text-secondary mb-1" th:text="${user.getRealName()}"></p>
                                <p class="text-muted font-size-sm" th:text="${course.getName()}"></p>
                                <button class="btn btn-outline-primary" onclick="location.href='pw'">비밀번호 변경하기</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <div class="d-flex">
                            <button class="btn btn-sm btn-primary" data-bs-toggle="collapse" data-bs-target="#form-add-repo-collapse" aria-expanded="false" aria-controls="form-add-repo-collapse">+</button>
                            <button class="btn btn-sm btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#form-edit-repo-modal">edit</button>
                        </div>
                        <div class="collapse" id="form-add-repo-collapse">
                            <form class="d-flex flex-row w-auto my-3" action="/repositories" method="post">
                                <div class="w-100">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="repo-name-addon">이름</span>
                                        <input type="text" class="form-control" placeholder="Repository 이름" name="name" aria-label="repo-name" aria-describedby="repo-name-addon">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="repo-address-addon">주소</span>
                                        <input type="text" class="form-control" placeholder="Repository 주소" name="address" aria-label="repo-address" aria-describedby="repo-address-addon">
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-primary ms-3" type="submit">add</button>
                            </form>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li th:each="repository : ${repositories}" class="list-group-item d-flex justify-content-between align-items-center">
                            <h6 class="mb-0 me-2 text-nowrap overflow-hidden w-25" th:text="${repository.name}"></h6>
                            <a class="text-secondary text-nowrap overflow-scroll w-75" th:href="@{${repository.address}}" th:text="${repository.address}" target="_blank"></a>
                        </li>
                    </ul>
                    <div class="modal fade" id="form-edit-repo-modal" tabindex="-1" aria-labelledby="form-edit-repo-modal-label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="form-edit-repo-modal-label">Repository 수정</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="card">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <form class="d-flex flex-row w-auto my-3">
                                                    <div class="w-100">
                                                        <div class="input-group mb-3">
                                                            <span class="input-group-text" id="edit-repo-name-addon-1">이름</span>
                                                            <input type="text" class="form-control" placeholder="Repository 이름" aria-label="repo-name" aria-describedby="edit-repo-name-addon-1" value="Security">
                                                        </div>
                                                        <div class="input-group">
                                                            <span class="input-group-text" id="edit-repo-address-addon-1">주소</span>
                                                            <input type="text" class="form-control" placeholder="Repository 주소" aria-label="repo-address" aria-describedby="edit-repo-address-addon-1" value="https://bootdey.com">
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-sm btn-primary ms-3" type="submit">save</button>
                                                </form>
                                            </li>
                                            <li class="list-group-item">
                                                <form class="d-flex flex-row w-auto my-3">
                                                    <div class="w-100">
                                                        <div class="input-group mb-3">
                                                            <span class="input-group-text" id="edit-repo-name-addon-2">이름</span>
                                                            <input type="text" class="form-control" placeholder="Repository 이름" aria-label="repo-name" aria-describedby="edit-repo-name-addon-2" value="Hospital">
                                                        </div>
                                                        <div class="input-group">
                                                            <span class="input-group-text" id="edit-repo-address-addon-2">주소</span>
                                                            <input type="text" class="form-control" placeholder="Repository 주소" aria-label="repo-address" aria-describedby="edit-repo-address-addon-2" value="https://bootdey.com">
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-sm btn-primary ms-3" type="submit">save</button>
                                                </form>
                                            </li>
                                            <li class="list-group-item">
                                                <form class="d-flex flex-row w-auto my-3">
                                                    <div class="w-100">
                                                        <div class="input-group mb-3">
                                                            <span class="input-group-text" id="edit-repo-name-addon-3">이름</span>
                                                            <input type="text" class="form-control" placeholder="Repository 이름" aria-label="repo-name" aria-describedby="edit-repo-name-addon-3" value="SNS">
                                                        </div>
                                                        <div class="input-group">
                                                            <span class="input-group-text" id="edit-repo-address-addon-3">주소</span>
                                                            <input type="text" class="form-control" placeholder="Repository 주소" aria-label="repo-address" aria-describedby="edit-repo-address-addon-3" value="https://bootdey.com">
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-sm btn-primary ms-3" type="submit">save</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <span th:text="${user.getRealName()}"></span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <span th:text="${user.getEmail()}"></span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Role</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">

                                <span th:text="${user.getRole().name()}"></span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">가입일</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <span th:text="${user.getCreatedAt()}"></span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">작성한 코멘트 갯수</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-12 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i>작성한 글</h6>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row gutters-sm">
                    <div class="col-sm-12 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i>작성한 코드</h6>
                                <table class="table">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">글제목</th>
                                        <th scope="col">작성자</th>
                                        <th scope="col">작성일</th>
                                        <th scope="col">*</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- CONTENTS   !-->
                                    <tr th:each="board : ${boardList}">
                                        <td class="w-50">
                                            <a th:text="${board.title}" th:if="${board.userName==userName}" th:href="@{'/boards/' + ${board.id}}"></a>
                                        </td>
                                        <td th:text="${board.userName}"></td>
                                        <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Button Group">
                                                <form th:if="${board.userName==userName}" id="delete-form2" th:action="@{'/boards/' + ${board.id}}" method="post">
                                                    <input type="hidden" name="_method" value="delete"/>
                                                    <button class="btn btn-primary btn-sm">삭제</button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

</body>
</html>