<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>
<body>
<div th:replace="fragments/header.html :: header"/>
    <div class="col" style="margin: 30px 0px 10px 0px;">
        <div class="offset-10">
            <button class="btn body-btn" onclick="location.href='/users'">
                회원 목록
            </button>
        </div>
    </div>

    <div class="row">
    <form th:method="post" th:action="@{/courses/register}" th:object="${addStudentRequest}">
    <div class="offset-2 col-8">
        <table class="table list-table table-hover text-center">
            <thead style="background-color: #A5F1E9">
            <tr>
                <th>
                    <button class="btn course-page-btn" type="submit">
                        기수 추가
                    </button>
                    <label for="courseName">
                        <select id="courseName" class="form-select" th:field="*{courseName}" style="width:200px;height:40px;">
                            <option th:each="course:${courseList}" th:value="${course.name}" th:text="${course.name}" />
                        </select>
                    </label>
                </th>
                <th style="width: 10%">id</th>
                <th style="width: 25%">사용자명</th>
                <th style="width: 25%">권한</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${userList}">
                    <td>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="check" th:field= "*{userList}" class="check" th:value="${user.id}">
                        </label>
                    </td>
                    <td style="width: 10%" th:text="${user.id}"/>
                    <td style="width: 40%" th:text="${user.userName}"/>
                    <td style="width: 25%" th:text="${user.role}"/>
                </tr>
            </tbody>
        </table>
    </div>
    </form>
    </div>

    <div align="center">
    <br/>
    <button class="btn page-btn" th:if="${nowPage != 1}" th:onclick="|location.href = '@{/(page=${1})}'|">&lt;&lt;</button>
    <button class="btn page-btn" th:if="${nowPage != 1}" th:onclick="|location.href='@{/(page=${nowPage - 1})}'|">[[${nowPage - 1}]]</button>
    <button class="btn page-btn-now">[[${nowPage}]]</button>
    <button class="btn page-btn" th:if="${nowPage != lastPage}" th:onclick="|location.href='@{/(page=${nowPage + 1})}'|">[[${nowPage + 1}]]</button>
    <button class="btn page-btn" th:if="${nowPage != lastPage}" th:onclick="|location.href='@{/(page=${lastPage})}'|">&gt;&gt;</button>
    <br/><br/><br/>
    </div>
</body>
</html>

