<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>
<body>
    <div th:replace="fragments/header.html :: header"/>
    <div>
    </div>
    <div class="col" style="margin: 30px 0px 10px 0px;">
        <div class="offset-10">
            <button class="btn body-btn" onclick="location.href='/users'">
                회원 목록
            </button>
            <button class="btn body-btn" onclick="location.href='/board/list'">
                글 보러 가는 곳
            </button>
            <button class="btn body-btn" onclick="location.href='/board/write'">
                글 쓰러 가는 곳
            </button>
            <button class="btn body-btn" onclick="location.href='/board/codeView'">
                코드 보러 가는 곳
            </button>
        </div>
    </div>


</body>
</html>